version: '3'

services:
  kafka:
    restart: always
    image: apache/kafka-native:latest
    container_name: kafka
    ports:
      - 9092:9092
      - 9093:9093
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${ip}:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
  mysql:
    image: mysql:8.0
    restart: always
    container_name: mysql
    ports:
      - 3306:3306
    volumes:
      - ./mysql-log:/var/log/mysql
      - ./mysql-data:/var/lib/mysql
      - ./mysql.cnf:/etc/my.cnf
    environment:
      - MYSQL_ROOT_PASSWORD=123456

  redis:
    image: redis:6.0
    restart: always
    container_name: redis
    ports:
      - 6379:6379
  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
    #    volumes:
    #      - ~/kui/config.yml:/etc/kafkaui/dynamic_config.yaml




  nacos:
    image: nacos/nacos-server:latest
    container_name: nacos
    restart: always
    ports:
      - "8848:8848"
      - "9848:9848"
    environment:
      - MODE=standalone
      - NACOS_AUTH_ENABLE=true
      - PREFER_HOST_MODE=hostname
      #      - SPRING_DATASOURCE_PLATFORM=mysql
      #      - MYSQL_SERVICE_HOST=mysql
      #      - MYSQL_SERVICE_DB_NAME=nacos
      #      - MYSQL_SERVICE_USER=root
      #      - MYSQL_SERVICE_PASSWORD=123456
      #      - MYSQL_SERVICE_DB_PARAM=characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
      - NACOS_AUTH_IDENTITY_KEY=serverIdentity
      - NACOS_AUTH_IDENTITY_VALUE=security
      - NACOS_AUTH_TOKEN=SecretKey012345678901234567890123456789012345678901234567890123456789
    volumes:
      - ./nacos-logs/:/home/nacos/logs
      - ./nacos-data:/home/nacos/data

  clickhouse:
    image: clickhouse/clickhouse-server
    container_name: clickhouse-server
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - 8123:8123
      - 9000:9000
    volumes:
      - ./clickhouse/logs:/var/log/clickhouse-server/
      - ./clickhouse/data:/var/lib/clickhouse/
      - ./clickhouse.xml:/etc/clickhouse-server/config.xml
      - ./clickhouse-users.xml:/etc/clickhouse-server/users.xml
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=admin
      - CLICKHOUSE_PASSWORD=123456
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1